<AppConfig>
  <NetIdManagement>
    <TargetNetId>5.79.171.38.1.1</TargetNetId>
	<FirstPeripheral>5.79.171.38.2.1</FirstPeripheral>
  </NetIdManagement>  
  <CanOverEthercatConfig>
	<CoeSerialComSettings>	
	  <IndexComPort1>8000</IndexComPort1>
	  <IndexComPort2>8010</IndexComPort2>		
	  <EnableRtsCts>
	    <SubIndex>1</SubIndex>
	    <SizeByte>1</SizeByte>
	  </EnableRtsCts>	  
	  <EnableXonXoffTx>
	    <SubIndex>2</SubIndex>
	    <SizeByte>1</SizeByte>
	  </EnableXonXoffTx>	  
	  <EnableXonXoffRx>
	    <SubIndex>3</SubIndex>
	    <SizeByte>1</SizeByte>
	  </EnableXonXoffRx>
	  <BaudRate>
	    <SubIndex>11</SubIndex>
	    <SizeByte>1</SizeByte>
	  </BaudRate>
	  <DataFrame>
	    <SubIndex>15</SubIndex>
	    <SizeByte>1</SizeByte>
	  </DataFrame>
	</CoeSerialComSettings>		
  </CanOverEthercatConfig>
  <LogConfig>
    <LogFileConfigPath>C:\Unity\HardwareConfiguration.xml</LogFileConfigPath>
	<HeaderNodeXml>/HardwareConfiguration/ProcessModulesConfig</HeaderNodeXml>
    <LogFilePath>C:\Unity\Log\log.txt</LogFilePath>
	<AddLogsConsole>FALSE</AddLogsConsole>
  </LogConfig>
  <CalibrateConfig>
    <CalibratePath>C:\Unity\CalibrateConfiguration.xml</CalibratePath>
	<CalibrateHeaderNodeXml>/CalibrateConfiguration/CalibratePMsConfig</CalibrateHeaderNodeXml> 	
  </CalibrateConfig>
</AppConfig>
