<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>  
   <!--<add name="UnityControlEntities" connectionString="metadata=res://*/UnityControl.csdl|res://*/UnityControl.ssdl|res://*/UnityControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K48D2LD\SQLEXPRESS;initial catalog=UnityControlv8Test;persist security info=True;user id=admin;password=inspection;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <add name="UnityControlEntities" connectionString="metadata=res://*/UnityControl.csdl|res://*/UnityControl.ssdl|res://*/UnityControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.20.19\SQLUNITYSC;initial catalog=UnityControlv8Test;persist security info=True;user id=admin;password=inspection;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
     <add key="serilog:minimum-level" value="Verbose"/>
	<add key="serilog:using:File" value="Serilog.Sinks.File"/>
	<add key="serilog:write-to:File.rollingInterval" value="Day"/>
	<add key="serilog:write-to:File.path" value="..\Logs\DataAccess-Services.log"/>
	<add key="serilog:write-to:File.rollOnFileSizeLimit" value="true"/>
	<add key="serilog:write-to:File.fileSizeLimitBytes" value="104857600"/>
	<add key="serilog:write-to:File.retainedFileCountLimit" value="100"/>
	<add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{Level:u3}] {Caller} {Message}{NewLine}{Exception}"/>
	<add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
	<add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Literate, Serilog.Sinks.Console"/>
	<add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss.fff} {Level:u3}] {Caller} {Message}{NewLine}{Exception}"/>
    <add key="Configuration.Rootdir" value="."/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
