<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings configSource="log.DataAccessService.config" />
  <system.serviceModel>
    <services>
      <service name="UnitySC.DataAccess.Service.Implementation.ResultService">
        <endpoint address="net.tcp://localhost:2221/ResultService" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IResultService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.RegisterResultService">
        <endpoint address="net.tcp://localhost:2221/RegisterResultService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.RecipeService">
        <endpoint address="net.tcp://localhost:2221/RecipeService" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.ToolService">
        <endpoint address="net.tcp://localhost:2221/ToolService" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IToolService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.UserService">
        <endpoint address="net.tcp://localhost:2221/UserService" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IUserService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.LogService">
        <endpoint address="net.tcp://localhost:2221/LogService" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.ILogService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.DBMaintenanceService">
        <endpoint address="net.tcp://localhost:2221/DBMaintenanceService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.DataAccess.Service.Interface.IDBMaintenanceService" />
      </service>
      <service name="UnitySC.Shared.FDC.Service.FDCService">
        <endpoint address="net.tcp://localhost:2221/DataAccessFDCService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Shared.FDC.Interface.IFDCService" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.SendFdcService">
        <endpoint address="net.tcp://localhost:2221/SendFdcService" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.ISendFdcService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="03:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>