<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnitySC.PP.AdC.Service.Host.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>

  <appSettings>
    <add key="PPHostIAdcExecutor" value="net.tcp://localhost:2250/AdcExecutor"/>
    <add key="PathModuleDll" value="C:\Projects\UnityControl.CRI.PSD\PP\AdC\Output\Debug"/>
    
    <add key="PathModuleDll_" value="C:\Users\n.chaux\source\repos\UnityControl\PP\ADC\Output\Debug"/>

    <add key="PathModuleDll__" value="C:\Repos\CRiviere\AIS\UI\UnitySC.AIS.UI.Test\bin\Debug\UnitySC"/>


    <!-- obsolete -->
  <add key="serilog:minimum-level" value="Debug"/>
  <add key="serilog:using" value="Serilog.Sinks.RollingFile"/>
  <add key="serilog:write-to:RollingFile"/>
  <add key="serilog:write-to:RollingFile.pathFormat" value="logs\HLS-{Date}.log"/>
  <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{Level}] {Caller} {Message}{NewLine}{Exception}"/>
  <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="104857600"/>
  <add key="serilog:write-to:ColoredConsole"/>
  <add key="Configuration.Rootdir" value="."/>


    <add key="LogFolder" value="C:\Unitysc\logs\ADC"/>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="Editor.RecipeFolder" value="C:\Unitysc\ExternalADC\Recipes"/>
    <add key="Editor.MetablockFolder" value="C:\Unitysc\ExternalADC\Metablocks"/>
    <add key="Editor.StartupMode" value="ExpertRecipeEdition"/>    <!--ExpertRecipeEdition, SimplifiedRecipeEdition -->
    <add key="Editor.HelpFolder" value="C:\Unitysc\ExternalADC\Help"/>
    <add key="Editor.HideAdaToAdcWindowsServiceStatus" value="false"/>
    <add key="DatabaseConfig.UseExportedDatabase" value="false"/>
    <add key="DatabaseConfig.ExportedDatabaseFile" value="C:\Unitysc\ExternalADC\DataBase.adcdb"/>
    <add key="DatabaseConfig.UseDatabaseToGetRecipes" value="true"/>
    <add key="DatabaseConfig.RecipeCache" value="RecipeDataBaseCache"/>    <!-- Cache pour les recettes et fichiers associés-->
    <add key="DatabaseConfig.AdditionnalRecipeFiles.ServerDirectory" value="C:\Unitysc\ExternalADC\SqlRecipeFile"/>    <!-- Emplacement des fichier liées aux recettes dans la base de données-->
    <add key="DatabaseResults.ServerName" value="10.100.20.19\SQLUNITYSC"/>    <!--or IP = "172.123.123.123, or ServerName = "FMO-UNTITY-23"  or if in local computer = "(local)-->
    <add key="DatabaseResults.Use" value="true"/>    <!--false => use Recipe.OutputDir as destination directory -->
    <add key="AdcEngine.ProductionMode" value="InAcquisition"/>    <!--InADC|InAcquisition-->
    <add key="AdcEngine.NbTasksPerPool" value="1"/>
    <add key="Debug.ImageViewer" value="C:\Program Files\IrfanView\i_view64.exe"/>
    <add key="AdaFolder" value="C:\Unitysc\ExternalADC\Ada"/>
    <add key="AdaToAdc.TestMode.PreloadImages" value="False"/>
    <add key="AdaToAdc.TestMode.AlwaysSendTheSameImage" value=""/>
    <add key="AdaToAdc.TransferToRobot.Enable" value="False"/>
    <add key="AdaToAdc.TransferToRobot.Embedded" value="True"/>
    <add key="Grading.Path" value="\\172.20.33.2\CIMConnectProjects\Equipment1\ADC\Sorting\"/>
    <!-- V8 matrix are not used <add key="AdaToAdc.MatrixV8Folder" value="C:\Altasight\Configrep\ConvertFile_DataBase"/> -->
  </appSettings>
      
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <connectionStrings>
    <add name="InspectionEntities" connectionString="metadata=res://*/Inspection.csdl|res://*/Inspection.ssdl|res://*/Inspection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.20.19\SQLUNITYSC;initial catalog=Inspection;user id=InspectionUser;password=UnitySql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <client>
      <!-- ADC -->
      <endpoint address="net.tcp://localhost:2250/ADCGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="ADCGlobalStatus"/>
      <endpoint address="net.tcp://localhost:2250/ADCPMUserService" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ADCPMUserService"/>
      <endpoint address="net.tcp://localhost:2250/ADCRecipeService" contract="UnitySC.PP.ADC.Service.Interface.Recipe.IADCRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ADCRecipeService"/>
      <endpoint address="net.tcp://localhost:2250/ADCService" contract="UnitySC.PP.ADC.Service.Interface.IADCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ADCService"/>
      <endpoint address="net.tcp://localhost:2250/AdcExecutor" contract="ADCEngine.IAdcExecutor" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="AdcExecutor"/>
      <endpoint address="net.tcp://localhost:2250/IDataFlowManagerPP" contract="ADCEngine.IAdcExecutor" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataFlowManagerPP"/>

      
      
      
      <!-- DataAccess 
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService"  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
-->
      
      <!-- DataAccess     -->
      <endpoint address="net.tcp://10.100.20.19:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService"/>
      <endpoint address="net.tcp://10.100.20.19:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService"/>
      <endpoint address="net.tcp://10.100.20.19:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService"/>
      <endpoint address="net.tcp://10.100.20.19:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService"/>
      <endpoint address="net.tcp://10.100.20.19:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService"/>
      
  
      
      
      

      <endpoint address="net.tcp://localhost:2222/DAP" contract="UnitySC.Dataflow.Service.Interface.IDAP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfDAP"/>
      <endpoint address="net.tcp://localhost:2222/PPDataflowManager" contract="UnitySC.Dataflow.Service.Interface.IPPDataflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfPPDataflowManager"/>


      

    </client>
    
    
    
    <services>
      <service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2250/ADCGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService"/>
      </service>
      <service name="UnitySC.PM.Shared.UserManager.Service.Implementation.PMUserService">
        <endpoint address="net.tcp://localhost:2250/ADCPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService"/>
      </service>
      
      <service name="UnitySC.PP.ADC.Service.Implementation.AdcRecipeService">
        <endpoint address="net.tcp://localhost:2250/ADCRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PP.ADC.Service.Interface.Recipe.IADCRecipeService"/>
      </service>

      <service name="UnitySC.PP.ADC.Service.Implementation.ADCService">
        <endpoint address="net.tcp://localhost:2250/ADCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PP.ADC.Service.Interface.IADCService"/>
        <endpoint address="net.tcp://localhost:2250/DataflowManagerPP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.Dataflow.Service.Interface.IDataflowManagerPP"/>

      </service>

      <service name="ADCEngine.AdcExecutor">
        <endpoint address="net.tcp://localhost:2250/AdcExecutor" binding="netTcpBinding" contract="ADCEngine.IAdcExecutor"/>
      </service>
      
      
      <!--
      
      bindingConfiguration="DefaultNetTcpConfiguration"
      
      <service name="ADCEngine.AdcExecutor" behaviorConfiguration="Simplebehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2251/AdcExecutor/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="ADCEngine.IAdcExecutor" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
-->

    </services>
    
 <!--
    <behaviors>
      <serviceBehaviors>
        <behavior name="Simplebehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
-->   
    
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
