<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  
  <!-- obsolete -->
  <add key="serilog:minimum-level" value="Debug" />
  <add key="serilog:using" value="Serilog.Sinks.RollingFile" />
  <add key="serilog:write-to:RollingFile" />
  <add key="serilog:write-to:RollingFile.pathFormat" value="logs\HLS-{Date}.log" />
  <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{Level}] {Caller} {Message}{NewLine}{Exception}" />
  <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="104857600" />
  <add key="serilog:write-to:ColoredConsole" />
  <add key="Configuration.Rootdir" value="." />


    <add key="LogFolder" value="C:\Unitysc\logs\ADC"/>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="Editor.RecipeFolder" value="C:\Unitysc\ExternalADC\Recipes"/>
    <add key="Editor.MetablockFolder" value="C:\Unitysc\ExternalADC\Metablocks"/>
    <add key="Editor.StartupMode" value="ExpertRecipeEdition"/>    <!--ExpertRecipeEdition, SimplifiedRecipeEdition -->
    <add key="Editor.HelpFolder" value="C:\Unitysc\ExternalADC\Help"/>
    <add key="Editor.HideAdaToAdcWindowsServiceStatus" value="false"/>
    <add key="DatabaseConfig.UseExportedDatabase" value="false"/>
    <add key="DatabaseConfig.ExportedDatabaseFile" value=".\DataBase.adcdb"/>
    <add key="DatabaseConfig.UseDatabaseToGetRecipes" value="true"/>
    <add key="DatabaseConfig.RecipeCache" value="RecipeDataBaseCache"/>    <!-- Cache pour les recettes et fichiers associés-->
    <add key="DatabaseConfig.AdditionnalRecipeFiles.ServerDirectory" value="..\..\..\SqlRecipeFile" />    <!-- Emplacement des fichier liées aux recettes dans la base de données-->
    <add key="DatabaseResults.ServerName" value="(local)"/>    <!--or IP = "172.123.123.123, or ServerName = "FMO-UNTITY-23"  or if in local computer = "(local)-->
    <add key="DatabaseResults.Use" value="True"/>    <!--false => use Recipe.OutputDir as destination directory -->
    <add key="AdcEngine.ProductionMode" value="InAcquisition"/>    <!--InADC|InAcquisition-->
    <add key="AdcEngine.NbTasksPerPool" value="1"/>
    <add key="Debug.ImageViewer" value="C:\Program Files\ImageJ\ImageJ.exe" />
    <add key="AdaFolder" value="C:\Altasight\Data\Ada"/>
    <add key="AdaToAdc.TestMode.PreloadImages" value="False"/>
    <add key="AdaToAdc.TestMode.AlwaysSendTheSameImage" value=""/>
    <add key="AdaToAdc.TransferToRobot.Enable" value="False"/>
    <add key="AdaToAdc.TransferToRobot.Embedded" value="True"/>
    <add key="Grading.Path" value = "\\172.20.33.2\CIMConnectProjects\Equipment1\ADC\Sorting\" />    <!-- V8 matrix are not used <add key="AdaToAdc.MatrixV8Folder" value="C:\Altasight\Configrep\ConvertFile_DataBase"/> -->

  
  
</appSettings>