<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings configSource="log.AGS.config"/>
  <system.serviceModel>
    <client>
      <!-- Argos -->
      <endpoint address="net.tcp://localhost:2240/ArgosGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="ArgosGlobalStatus"/>
      <endpoint address="net.tcp://localhost:2240/ArgosPMUserService" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ArgosPMUserService"/>
      <endpoint address="net.tcp://localhost:2240/ArgosRecipe" contract="UnitySC.PM.AGS.Service.Interface.IRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ArgosRecipeService"/>
      <endpoint address="net.tcp://localhost:2240/ARGOSChuckService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ARGOSChuckService"/>

      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService"/>
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService"/>
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService"/>
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService"/>
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService"/>
    </client>
    <services>
      <service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2240/ArgosGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService"/>
      </service>
      <service name="UnitySC.PM.Shared.UserManager.Service.Implementation.PMUserService">
        <endpoint address="net.tcp://localhost:2240/ArgosPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService"/>
      </service>
      <service name="UnitySC.PM.AGS.Service.Implementation.ArgosRecipeService">
        <endpoint address="net.tcp://localhost:2240/ArgosRecipe" contract="UnitySC.PM.AGS.Service.Interface.RecipeService.IRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      </service>

      <service name="UnitySC.PM.AGS.Service.Implementation.ARGOSChuckService">
        <endpoint address="net.tcp://localhost:2240/ARGOSChuckService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
