<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <probing privatePath="Libraries"/>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <!--Results-->

  <appSettings>
    <add key="ExportBasePath" value="C:\UnitySC\ExportResults\"/>
    <add key="SelectedThumbnailColorMap" value="1-gtr"/>
    <!--<add key="Debug.ImageViewer" value="C:\Program Files\IrfanView\i_view64.exe" />-->
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>

  <system.serviceModel>
    <client>

      <endpoint address="net.tcp://localhost:2230/UTOPMService" contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UTOPMService"/>
      <endpoint address="net.tcp://localhost:2222/UTODFService" contract="UnitySC.Dataflow.Service.Interface.IUTODFService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UTODFService"/>
      
      <!-- ANALYSE -->
      <endpoint address="net.tcp://localhost:2230/ANALYSEGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="ANALYSEGlobalStatus" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEProbeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.IProbeService" name="ANALYSEProbeService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IAxesService" name="ANALYSEAxesService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEChuckService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService" name="ANALYSEChuckService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSECameraService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Camera.ICameraServiceEx" name="ANALYSECameraService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSELightService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Light.ILightService" name="ANALYSELightService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEPMUserService" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEPMUserService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSECalibrationService" contract="UnitySC.PM.ANA.Service.Interface.Calibration.ICalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSECalibrationService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEChamberService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEChamberService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEAlgoService" contract="UnitySC.PM.ANA.Service.Interface.Algo.IAlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEAlgoService" />
      <endpoint address="net.tcp://localhost:2230/HARDWAREReferentialService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Referential.IReferentialService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="HARDWAREReferentialService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSERecipeService" contract="UnitySC.PM.ANA.Service.Interface.Recipe.IANARecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSERecipeService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSECompatibilityService" contract="UnitySC.PM.ANA.Service.Interface.Compatibility.ICompatibilityService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSECompatibilityService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEMeasureService" contract="UnitySC.PM.ANA.Service.Interface.Measure.IMeasureService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEMeasureService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEContextService" contract="UnitySC.PM.ANA.Service.Interface.Context.IContextService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEContextService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEControllerService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Controller.IControllerService" name="ANALYSEControllerService" />
      <endpoint address="net.tcp://localhost:2230/HARDWARELaserService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Laser.ILaserService" name="HARDWARELaserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWAREShutterService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Shutter.IShutterService" name="HARDWAREShutterService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWAREMotionAxesService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IMotionAxesService" name="HARDWAREMotionAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWARESpectroService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Spectrometer.ISpectroService" name="HARDWARESpectroService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />

      <!-- DEMETER -->
      <endpoint address="net.tcp://localhost:2220/DEMETERCameraService" contract="UnitySC.PM.DMT.Service.Interface.IDMTCameraService" name="DEMETERCameraService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERScreenService" contract="UnitySC.PM.DMT.Service.Interface.Screen.IDMTScreenService" name="DEMETERScreenService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERRecipeService" contract="UnitySC.PM.DMT.Service.Interface.IDMTRecipeService" name="DEMETERRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERAlgorithmsService" contract="UnitySC.PM.DMT.Service.Interface.IDMTAlgorithmsService" name="DEMETERAlgorithmsService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERCalibrationService" contract="UnitySC.PM.DMT.Service.Interface.ICalibrationService" name="DEMETERCalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERPlcService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" name="DEMETERPlcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERChamberService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" name="DEMETERChamberService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERChuckService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService" name="DEMETERChuckService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERGlobalDeviceService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Global.IGlobalDeviceService" name="DEMETERGlobalDeviceService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERGlobalStatusService" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DEMETERGlobalStatus" />
      <endpoint address="net.tcp://localhost:2220/DEMETERPMUserService" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DEMETERPMUserService" />

      <!-- EMERA -->
      <endpoint address="net.tcp://localhost:2260/EMERAGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="EMERAGlobalStatus" />
      <endpoint address="net.tcp://localhost:2260/EMERAPMUserService" binding="netTcpBinding" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService"  bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAPMUserService" />
      <endpoint address="net.tcp://localhost:2260/EMERAChamberService" binding="netTcpBinding" contract="UnitySC.PM.EME.Service.Interface.Chamber.IEMEChamberService"  bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAChamberService" />
      <endpoint address="net.tcp://localhost:2260/EMERAChuckService" binding="netTcpBinding" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService"                bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAChuckService"/>
      <endpoint address="net.tcp://localhost:2260/EMERACameraService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Camera.ICameraServiceEx" name="EMERACameraService" />
      <endpoint address="net.tcp://localhost:2260/EMERACalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"                 contract="UnitySC.PM.EME.Service.Interface.Calibration.ICalibrationService" name="EMERACalibrationService"/>
      <endpoint address="net.tcp://localhost:2260/EMERAAlgoService" contract="UnitySC.PM.EME.Service.Interface.Algo.IAlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAAlgoService" />
      <endpoint address="net.tcp://localhost:2260/EMERALightService" contract="UnitySC.PM.EME.Service.Interface.Light.IEMELightService" name="EMERALightService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2260/EMERAMotionAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Axes.IEmeraMotionAxesService" name="EMERAMotionAxesService" />
      <endpoint address="net.tcp://localhost:2260/EMERAFilterWheelService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"                contract="UnitySC.PM.EME.Service.Interface.FilterWheel.IFilterWheelService" name="EMERAFilterWheelService" />
      <endpoint address="net.tcp://localhost:2260/EMERecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Recipe.IEMERecipeService" name="EMERecipeService" />
      <endpoint address="net.tcp://localhost:2260/EMERAPlcService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" name="EMERAPlcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2260/EMERADistanceSensorService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.DistanceSensor.IDistanceSensorService" name="EMERADistanceSensorService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />


      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
      <endpoint address="net.tcp://localhost:2221/RegisterResultService" contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RegisterResultService" />

      <!-- External processing  -->
      <endpoint address="net.tcp://localhost:2250/MountainsActiveXService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.EP.Mountains.Server.Implementation.IMountainsActiveXService" name="MountainsActiveXService" />
      <endpoint address="net.tcp://localhost:2240/MountainsGatewayService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.EP.Mountains.Interface.IMountainsGatewayService" name="MountainsGatewayService" />

    </client>
    <services>
      <service name="UnitySC.Shared.TC.API.Service.Implementation.UTOPMService">
        <endpoint address="net.tcp://localhost:2230/UTOPMService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>
