<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>

  <appSettings>
  	<add key="KlarfExtension" value=".001"/>
    <add key="LogFolder" value="."/>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="DatabaseConfig.AdditionnalRecipeFiles.ServerDirectory" value="C:\Unitysc\ExternalADC\SqlRecipeFile"/>
    <add key="OutputFolder" value="C:\Unitysc\ExternalADC\ExportOutput"/>
    <add key="DefaultHazeCfgXml" value="Data\DefaultHazeCfg.xml"/>
    <add key="DatabaseResults.ServerName" value="(local)"/>
    <add key="AdcEngine.NbTasksPerPool" value="1"/>
    <add key="EdgeCorrector.Tester" value="E:\fdelabre\SoftUnity\EVA_V2\TestEdgeCorrector\bin\x64\Debug\TestEdgeCorrector.exe"/>
    <add key="DMTCorrector.Tester" value="E:\fdelabre\SoftUnity\AS_Grabber_V2\TestPsdCorrector\bin\x64\Debug\TestPsdCorrector.exe"/>
  </appSettings>

  <connectionStrings>
    <add name="InspectionEntities" connectionString="metadata=res://*/Inspection.csdl|res://*/Inspection.ssdl|res://*/Inspection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.20.19\SQLUNITYSC;initial catalog=Inspection;user id=InspectionUser;password=UnitySql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <system.serviceModel>
    <client>
      <!--Dataflow-->
      <endpoint address="net.tcp://localhost:2222/PMDFService" contract="UnitySC.Shared.Dataflow.PM.Service.Interface.IPMDFService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="PMDFService"/>
      <endpoint address="net.tcp://localhost:2222/DataflowManagerFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataflowManagerFDCService" />
      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
      <endpoint address="net.tcp://localhost:2221/RegisterResultService" contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RegisterResultService" />
      <endpoint address="net.tcp://localhost:2221/DBMaintenanceService" contract="UnitySC.DataAccess.Service.Interface.IDBMaintenanceService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DBMaintenanceService" />
      <endpoint address="net.tcp://localhost:2221/DataAccessFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataAccessFDCService" />    
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  

</configuration>
