<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings configSource="log.DataAccessService.config"/>




  <system.serviceModel>
    <client>

      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService"/>
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService"/>
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService"/>
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService"/>
      <endpoint address="net.tcp://localhost:2221/ResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IResultService" name="ResultService"/>
   
      
      <!-- Actor -->
      <endpoint address="net.tcp://localhost:2222/PPDataflowManager" contract="UnitySC.Dataflow.Service.Interface.IPPDataflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfADCActor"/>
    
      <endpoint address="net.tcp://localhost:2250/DataflowManagerPP" contract="UnitySC.Dataflow.Service.Interface.IDataflowManagerPP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfADCActor"/>

      <endpoint address="net.tcp://localhost:2222/DAP" contract="UnitySC.Dataflow.Service.Interface.IDAP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfDAP"/>
      <endpoint address="net.tcp://localhost:2222/DataflowManagerSupervision" contract="UnitySC.Dataflow.Service.Interface.IDataflowManagerSupervision" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataflowManagerSupervision"/>
     
      
    </client>


    <services>
      <service name="UnitySC.Dataflow.Service.Implementation.DAPService">
        <endpoint address="net.tcp://localhost:2222/DAP" binding="netTcpBinding"
          bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.Dataflow.Service.Interface.IDAP" />
      </service>
      <service name="UnitySC.Dataflow.Service.Implementation.DataflowManagerSupervisionService">
        <endpoint address="net.tcp://localhost:2222/DataflowManagerSupervision"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Dataflow.Service.Interface.IDataflowManagerSupervision" />
      </service>
      <service name="UnitySC.Dataflow.Service.Implementation.DataflowManager">
        <endpoint address="net.tcp://localhost:2222/TCDataflowManager"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Dataflow.Service.Interface.ITCDataflowManager" />
        <endpoint address="net.tcp://localhost:2222/DataflowManagerDAP"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Dataflow.Service.Interface.IDataflowManagerDAP" />
        <endpoint address="net.tcp://localhost:2222/PMDataflowManager"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Dataflow.Service.Interface.IPMDataflowManager" />
        <endpoint address="net.tcp://localhost:2222/PPDataflowManager"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Dataflow.Service.Interface.IPPDataflowManager" />
      </service>
    </services>










    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
