<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="log.DataAccessService.config">

  </appSettings>
  <system.serviceModel>
    <client>
      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IResultService" name="ResultService" />
      <!-- Actor -->
      <!--
      <endpoint address="net.tcp://localhost:2223/wfPSDActor" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPMWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfPSDActor" />
      
      <endpoint address="net.tcp://localhost:2224/wfANALYSEActor" contract="UnitySC.DataAccess.Service.Interface.Workflow.IWorkflowManagerPM" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfANALYSEActor" />
      <endpoint address="net.tcp://localhost:2225/wfADCActor" contract="UnitySC.DataAccess.Service.Interface.Workflow.IWorkflowManagerPP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfADCActor" />
-->
      
      
      
      <endpoint address="net.tcp://localhost:2222/PMWorkflowManager" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPMWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfPSDActor" />
      <endpoint address="net.tcp://localhost:2222/PPWorkflowManager" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPPWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfADCActor" />
      <endpoint address="net.tcp://localhost:2250/WorkflowManagerPP" contract="UnitySC.DataAccess.Service.Interface.Workflow.IWorkflowManagerPP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfADCActor" />
      <endpoint address="net.tcp://localhost:2222/DAP" contract="UnitySC.DataAccess.Service.Interface.Workflow.IDAP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="wfDAP" />
    </client>
    <services>
      <service name="UnitySC.DataAccess.Service.Implementation.Workflow.DAPService">
        <endpoint address="net.tcp://localhost:2222/DAP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IDAP" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.Workflow.Service.WorkflowManagerSupervisionService">
        <endpoint address="net.tcp://localhost:2222/WorkflowManagerSupervision" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IWorkflowManagerSupervision" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.Workflow.WorkflowManager">
        <endpoint address="net.tcp://localhost:2222/TCWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.ITCWorkflowManager" />
        <endpoint address="net.tcp://localhost:2222/WorkflowManagerDAP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IWorkflowManagerDAP" />
        <endpoint address="net.tcp://localhost:2222/PMWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPMWorkflowManager" />
        <endpoint address="net.tcp://localhost:2222/PPWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPPWorkflowManager" />
      </service>
      <!--
        <service name="UnitySC.DataAccess.Service.Implementation.Workflow.WorkflowManager_TCWorkflowManager">
        <endpoint address="net.tcp://localhost:2222/TCWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.ITCWorkflowManager" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.Workflow.WorkflowManager_WorkflowManagerDAP">
        <endpoint address="net.tcp://localhost:2222/WorkflowManagerDAP" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IWorkflowManagerDAP" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.Workflow.WorkflowManager_PMWorkflowManager">
        <endpoint address="net.tcp://localhost:2222/PMWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPMWorkflowManager" />
      </service>
      <service name="UnitySC.DataAccess.Service.Implementation.Workflow.WorkflowManager_PPWorkflowManager">
        <endpoint address="net.tcp://localhost:2222/PPWorkflowManager" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.Workflow.IPPWorkflowManager" />
      </service>    
      
      -->
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>