<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="log.LIGHTSPEED.config">
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDGlobalDevice" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Global.IGlobalDeviceService" name="LIGHTSPEEDGlobalDeviceService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDGlobalStatusService" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="LIGHTSPEEDGlobalStatus" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDAcquisition" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.IAcquisitionService" name="AcquisitionService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDRotatorsKitCalibration" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.IRotatorsKitCalibrationService" name="RotatorsKitCalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/NSTLiseHF" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.ILiseHFService" name="LiseHFService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDFeedbackLoop" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.IFeedbackLoopService" name="FeedbackLoopService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDPlc" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" name="LIGHTSPEEDPlcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDAttenuationFilter" contract="UnitySC.PM.Shared.Hardware.Service.Interface.AttenuationFilter.IAttenuationFilterService" name="LIGHTSPEEDAttenuationFilterService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDPolarisationFilter" contract="UnitySC.PM.Shared.Hardware.Service.Interface.PolarisationFilter.IPolarisationFilterService" name="LIGHTSPEEDPolarisationFilterService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDDistanceSensor" contract="UnitySC.PM.Shared.Hardware.Service.Interface.DistanceSensor.IDistanceSensorService" name="LIGHTSPEEDDistanceSensorService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDFiberSwitch" contract="UnitySC.PM.Shared.Hardware.Service.Interface.FiberSwitch.IFiberSwitchService" name="LIGHTSPEEDFiberSwitchService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDLaser" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Laser.ILaserService" name="LIGHTSPEEDLaserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDMppc" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Mppc.IMppcService" name="LIGHTSPEEDMppcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDOpticalPowermeter" contract="UnitySC.PM.Shared.Hardware.Service.Interface.OpticalPowermeter.IOpticalPowermeterService" name="LIGHTSPEEDOpticalPowermeterService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDShutter" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Shutter.IShutterService" name="LIGHTSPEEDShutterService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDChamber" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" name="LIGHTSPEEDChamberService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDFastAttenuation" contract="UnitySC.PM.Shared.Hardware.Service.Interface.FastAttenuation.IFastAttenuationService" name="LIGHTSPEEDFastAttenuationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
    </client>
    <services>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.GlobalDeviceService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDGlobalDevice" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Global.IGlobalDeviceService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      </service>
      <service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" />
      </service>
      <service name="UnitySC.PM.LIGHTSPEED.Service.Implementation.LSAcquisitionService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDAcquisition" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.IAcquisitionService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      </service>
      <service name="UnitySC.PM.LIGHTSPEED.Service.Implementation.LSRotatorsKitCalibrationService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDRotatorsKitCalibration" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.IRotatorsKitCalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      </service>
      <service name="UnitySC.PM.LIGHTSPEED.Service.Implementation.NSTLiseHFService">
        <endpoint address="net.tcp://localhost:2220/NSTLiseHF" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.ILiseHFService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      </service>
      <service name="UnitySC.PM.LIGHTSPEED.Service.Implementation.LSFeedbackLoopService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDFeedbackLoop" contract="UnitySC.PM.LIGHTSPEED.Service.Interface.IFeedbackLoopService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.PlcService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDPlc" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.AttenuationFilterService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDAttenuationFilter" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.AttenuationFilter.IAttenuationFilterService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.PolarisationFilterService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDPolarisationFilter" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.PolarisationFilter.IPolarisationFilterService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.DistanceSensorService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDDistanceSensor" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.DistanceSensor.IDistanceSensorService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.FiberSwitchService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDFiberSwitch" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.FiberSwitch.IFiberSwitchService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.LaserService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDLaser" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Laser.ILaserService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.MppcService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDMppc" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Mppc.IMppcService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.OpticalPowermeterService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDOpticalPowermeter" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.OpticalPowermeter.IOpticalPowermeterService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ShutterService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDShutter" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Shutter.IShutterService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ChamberService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDChamber" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.FastAttenuationService">
        <endpoint address="net.tcp://localhost:2220/LIGHTSPEEDFastAttenuation" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.FastAttenuation.IFastAttenuationService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>