<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="serilog:minimum-level" value="Verbose" />
  <add key="serilog:using:File" value="Serilog.Sinks.File" />
  <add key="serilog:write-to:File.rollingInterval" value="Day" />
  <add key="serilog:write-to:File.path" value="..\Logs\HLS-.log" />
  <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
  <add key="serilog:write-to:File.fileSizeLimitBytes" value="104857600" />
  <add key="serilog:write-to:File.retainedFileCountLimit" value="100" />
  <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{Level:u3}] {Caller} {Message}{NewLine}{Exception}" />
  <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
  <add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Literate, Serilog.Sinks.Console" />
  <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss.fff} {Level:u3}] {Caller} {Message}{NewLine}{Exception}" />
  <add key="Configuration.Rootdir" value="."/>

</appSettings>