<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BAI.AdminGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="CEAdminGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BAI.AdminGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </appSettings>
    <applicationSettings>
        <BAI.AdminGui.Properties.Settings>
            <setting name="RemotePort" serializeAs="String">
                <value>8035</value>
            </setting>
            <setting name="FtpLogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VxWorksUser" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="VxWorksPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="VxWorksRemoteAddress" serializeAs="String">
                <value>192.168.192.226</value>
            </setting>
            <setting name="NuttxUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="NuttxPassword" serializeAs="String">
                <value>abc123</value>
            </setting>
            <setting name="NuttxRemoteAddress" serializeAs="String">
                <value>192.168.1.30</value>
            </setting>
            <setting name="LinuxUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="LinuxPassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="LinuxRemoteAddress" serializeAs="String">
                <value>192.168.1.10</value>
            </setting>
        </BAI.AdminGui.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BAI.AdminGui.Properties.Settings>
            <setting name="LastIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>8035</value>
            </setting>
            <setting name="LastUseFtpFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastPlatform" serializeAs="String">
                <value>Linux</value>
            </setting>
        </BAI.AdminGui.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
