<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BAI.Admin.SwUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BAI.Admin.SwUpdate.Properties.Settings>
            <setting name="MetaDas" serializeAs="String">
                <value>..\..\..\ConfigWizard\Config\MetaDas.xml</value>
            </setting>
            <setting name="IsDev" serializeAs="String">
                <value>True</value>
            </setting>
        </BAI.Admin.SwUpdate.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
