<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <BAI.CTC.ClientInit.Properties.Settings>
      <setting name="CTC_ROOT" serializeAs="String">
        <value>.\CTC</value>
      </setting>
      <setting name="CTC_BIN" serializeAs="String">
        <value>.\CTC\Libraries</value>
      </setting>
      <setting name="LOG_EVENT" serializeAs="String">
        <value>False</value>
      </setting>
    </BAI.CTC.ClientInit.Properties.Settings>
  </userSettings>
</configuration>
