<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings configSource="log.ANAService.config"/>
  <system.serviceModel>
    <client>

      <endpoint address="net.tcp://localhost:2220/AlgoService" contract="UnitySC.PM.ANA.Service.Interface.Algo.IAlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="AlgoService"/>

      <endpoint address="net.tcp://localhost:2220/AxesService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="AxesService"/>

      <endpoint address="net.tcp://localhost:2220/CameraService" contract="UnitySC.PM.ANA.Service.Interface.Camera.ICameraServiceEx" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="CameraService"/>

      <!--
      <endpoint address="net.tcp://localhost:2220/GlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="ANALYSEGlobalStatus" />
      <endpoint address="net.tcp://localhost:2220/ProbeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.IProbeService" name="ProbeService" />
      <endpoint address="net.tcp://localhost:2220/PMUserService" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService"
    binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="PMUserService" />
      <endpoint address="net.tcp://localhost:2220/CalibrationService" contract="UnitySC.PM.ANA.Service.Interface.Calibration.ICalibrationService"
    binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="CalibrationService" />

      <endpoint address="net.tcp://localhost:2220/RecipeService" contract="UnitySC.PM.ANA.Service.Interface.Recipe.IANARecipeService"
    binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANARecipeService" />
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract ="UnitySC.DataAccess.Service.Interface.IDbRecipeService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService"
               binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
      <endpoint address="net.tcp://localhost:2220/ChamberService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ChamberService" />
   -->
    </client>
    <services>

      <service name="UnitySC.PM.ANA.Service.Implementation.AlgoService">
        <endpoint address="net.tcp://localhost:2220/AlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Algo.IAlgoService"/>
      </service>

      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.AxesService">
        <endpoint address="net.tcp://localhost:2220/AxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IAxesService"/>
      </service>

      <service name="UnitySC.PM.ANA.Service.Implementation.CameraServiceEx">
        <endpoint address="net.tcp://localhost:2220/CameraService" contract="UnitySC.PM.ANA.Service.Interface.Camera.ICameraServiceEx" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      </service>
      
      <service name="UnitySC.PM.EME.Service.Implementation.LightServiceEx">
        <endpoint address="net.tcp://localhost:2220/LightService" contract="UnitySC.PM.EME.Service.Interface.Light.ILightServiceEx" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      </service>
      <!--<service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2220/GlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ProbeService">
        <endpoint address="net.tcp://localhost:2220/ProbeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.IProbeService" />
      </service>

      <service name="UnitySC.PM.ANA.Service.Implementation.CalibrationService">
        <endpoint address="net.tcp://localhost:2220/CalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Calibration.ICalibrationService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.AlgoService">
        <endpoint address="net.tcp://localhost:2220/AlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Algo.IAlgoService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ANARecipeService">
        <endpoint address="net.tcp://localhost:2220/RecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Recipe.IANARecipeService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ChamberService">
        <endpoint address="net.tcp://localhost:2220/ChamberService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" />
      </service>

      <service name="UnitySC.PM.Shared.UserManager.Service.Implementation.PMUserService">
        <endpoint address="net.tcp://localhost:2220/PMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" />
      </service>-->
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
