<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Agileo.MessageDataBus.ExcelConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Agileo.MessageDataBus.ExcelConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <Agileo.MessageDataBus.ExcelConverter.Properties.Settings>
      <setting name="ExchangeTableSheetName" serializeAs="String">
        <value>Exchange Table</value>
      </setting>
      <setting name="ExchangeTableSheetHeaderRow" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="GroupConfigurationSheetName" serializeAs="String">
        <value>Groups Configuration</value>
      </setting>
      <setting name="GroupConfigurationSheetHeaderRow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DriverName" serializeAs="String">
        <value>PLCDriver</value>
      </setting>
      <setting name="ServerDriverType" serializeAs="String">
        <value>ModbusServerDriver</value>
      </setting>
      <setting name="ClientDriverType" serializeAs="String">
        <value>ModbusDriver</value>
      </setting>
      <setting name="XmlConfigurationFileName" serializeAs="String">
        <value>TagsConfiguration.xml</value>
      </setting>
      <setting name="DriverConfigurationSheetHeaderRow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DriverConfigurationSheetName" serializeAs="String">
        <value>Drivers Configuration</value>
      </setting>
    </Agileo.MessageDataBus.ExcelConverter.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Agileo.MessageDataBus.ExcelConverter.Properties.Settings>
      <setting name="ReplacableString" serializeAs="String">
        <value>_xxx</value>
      </setting>
    </Agileo.MessageDataBus.ExcelConverter.Properties.Settings>
  </userSettings>
</configuration>