<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
<system.serviceModel>
  <client>
    <endpoint address="net.tcp://localhost:2230/UTOPMService" contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UTOPMService" />
  </client>
  <services>
    <service name="UnitySC.Shared.TC.API.Service.Implementation.UTOPMService">
      <endpoint address="net.tcp://localhost:2230/UTOPMService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" />
    </service>
  </services>
  <bindings>
    <netTcpBinding>
      <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
        <security mode="None">
          <transport clientCredentialType="None" protectionLevel="None" />
          <message clientCredentialType="None" />
        </security>
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      </binding>
    </netTcpBinding>
  </bindings>
</system.serviceModel>
</configuration>
