<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- PM IP -->
    <add key="AdcConnectionString"
         value="data source=10.100.20.19\SQLUNITYSC;initial catalog=Inspection;user id=InspectionUser;password=UnitySql;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2230/UTOPMService"
                contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" name="UTOPMService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2222/PMDFService"
                contract="UnitySC.Shared.Dataflow.PM.Service.Interface.IPMDFService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="PMDFService"/>
      <endpoint address="net.tcp://localhost:2222/DataflowManagerFDCService" binding="netTcpBinding"
                contract="UnitySC.Shared.FDC.Interface.IFDCService" name="DataflowManagerFDCService"
                bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2222/DAP" contract="UnitySC.Dataflow.Service.Interface.IDAP"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DAP"/>
      <!-- Demeter -->
      <endpoint address="net.tcp://localhost:2220/DEMETERCameraService"
                contract="UnitySC.PM.DMT.Service.Interface.IDMTCameraService" name="DEMETERCameraService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERScreenService"
                contract="UnitySC.PM.DMT.Service.Interface.Screen.IDMTScreenService" name="DEMETERScreenService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERRecipeService"
                contract="UnitySC.PM.DMT.Service.Interface.IDMTRecipeService" name="DEMETERRecipeService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERAlgorithmsService"
                contract="UnitySC.PM.DMT.Service.Interface.IDMTAlgorithmsService" name="DEMETERAlgorithmsService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERCalibrationService"
                contract="UnitySC.PM.DMT.Service.Interface.ICalibrationService" name="DEMETERCalibrationService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERPlcService"
                contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" name="DEMETERPlcService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERChamberService"
                contract="UnitySC.PM.DMT.Service.Interface.Chamber.IDMTChamberService"
                name="DEMETERChamberService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERChuckService"
                contract="UnitySC.PM.DMT.Service.Interface.Chuck.IDMTChuckService"
                name="DEMETERChuckService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERGlobalDeviceService"
                contract="UnitySC.PM.Shared.Hardware.Service.Interface.Global.IGlobalDeviceService"
                name="DEMETERGlobalDeviceService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERGlobalStatusService"
                contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="DEMETERGlobalStatus"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERPMUserService"
                contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="DEMETERPMUserService"/>
      <endpoint address="net.tcp://localhost:2220/HARDWAREMotionAxesService"
                contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IMotionAxesService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="HARDWAREMotionAxesService"/>
      <endpoint address="net.tcp://localhost:2220/DEMETERFDCService" name="DEMETERFDCService" 
                contract="UnitySC.PM.Shared.FDC.Interface.IFDCService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2220/DEMETERFfuService"
                contract="UnitySC.PM.Shared.Hardware.Service.Interface.Ffu.IFfuService" name="DEMETERFfuService"
                binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/ResultService"
                contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService"/>
      <endpoint address="net.tcp://localhost:2221/RecipeService"
                contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService"/>
      <endpoint address="net.tcp://localhost:2221/ToolService"
                contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService"/>
      <endpoint address="net.tcp://localhost:2221/UserService"
                contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="UserService"/>
      <endpoint address="net.tcp://localhost:2221/LogService"
                contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="LogService"/>
      <endpoint address="net.tcp://localhost:2221/RegisterResultService"
                contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="RegisterResultService"/>      
      <endpoint address="net.tcp://localhost:2221/DataAccessFDCService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="DataAccessFDCService"
                contract="UnitySC.Shared.FDC.Interface.IFDCService"/>
      <endpoint address="net.tcp://localhost:2221/DBMaintenanceService" binding="netTcpBinding"
                bindingConfiguration="DefaultNetTcpConfiguration" name="DBMaintenanceService"
                contract="UnitySC.DataAccess.Service.Interface.IDBMaintenanceService" />
    </client>

    <services>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTCameraService">
        <endpoint address="net.tcp://localhost:2220/DEMETERCameraService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.DMT.Service.Interface.IDMTCameraService"/>
      </service>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTScreenService">
        <endpoint address="net.tcp://localhost:2220/DEMETERScreenService"
                  contract="UnitySC.PM.DMT.Service.Interface.Screen.IDMTScreenService" binding="netTcpBinding"
                  bindingConfiguration="DefaultNetTcpConfiguration"/>
      </service>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTRecipeService">
        <endpoint address="net.tcp://localhost:2220/DEMETERRecipeService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.DMT.Service.Interface.IDMTRecipeService"/>
      </service>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTAlgorithmsService">
        <endpoint address="net.tcp://localhost:2220/DEMETERAlgorithmsService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.DMT.Service.Interface.IDMTAlgorithmsService"/>
      </service>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTCalibrationService">
        <endpoint address="net.tcp://localhost:2220/DEMETERCalibrationService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.DMT.Service.Interface.ICalibrationService"/>
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.PlcService">
        <endpoint address="net.tcp://localhost:2220/DEMETERPlcService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService"/>
      </service>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTChamberService">
        <endpoint address="net.tcp://localhost:2220/DEMETERChamberService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.DMT.Service.Interface.Chamber.IDMTChamberService"/>
      </service>
      <service name="UnitySC.PM.DMT.Service.Implementation.DMTChuckService">
        <endpoint address="net.tcp://localhost:2220/DEMETERChuckService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.DMT.Service.Interface.Chuck.IDMTChuckService"/>
      </service> 
      <service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2220/DEMETERGlobalStatusService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService"/>
      </service>
      <service name="UnitySC.PM.Shared.UserManager.Service.Implementation.PMUserService">
        <endpoint address="net.tcp://localhost:2220/DEMETERPMUserService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService"/>
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.GlobalDeviceService">
        <endpoint address="net.tcp://localhost:2220/DEMETERGlobalDeviceService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.Shared.Hardware.Service.Interface.Global.IGlobalDeviceService"/>
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.MotionAxesService">
        <endpoint address="net.tcp://localhost:2220/HARDWAREMotionAxesService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IMotionAxesService"/>
      </service>
      <service name="UnitySC.Shared.TC.PM.Service.Implementation.UTOPMService">
        <endpoint address="net.tcp://localhost:2230/UTOPMService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService"/>
      </service>
      <service name="UnitySC.Shared.FDC.Service.FDCService">
        <endpoint address="net.tcp://localhost:2220/DEMETERFDCService" binding="netTcpBinding"
                  bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.Shared.FDC.Interface.IFDCService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.FfuService">
        <endpoint address="net.tcp://localhost:2220/DEMETERFfuService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.Shared.Hardware.Service.Interface.Ffu.IFfuService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00"
                 receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>