<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings configSource="log.RegisterClient.config"/>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2221/ResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IResultService" name="ResultService"/>
      <endpoint address="net.tcp://localhost:2221/RegisterResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" name="RegisterResultService"/>

      <endpoint address="net.tcp://localhost:2221/RecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" name="RecipeService"/>
      <endpoint address="net.tcp://localhost:2221/ToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.DataAccess.Service.Interface.IToolService" name="ToolService"/>

    </client>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
