<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <client>
      <!-- ANALYSE -->
      <endpoint address="net.tcp://localhost:2230/ANALYSEGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="ANALYSEGlobalStatus" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEProbeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.IProbeService" name="ANALYSEProbeService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEAlignmentService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Alignment.IProbeAlignmentService" name="ANALYSEAlignmentService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IAxesService" name="ANALYSEAxesService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEChuckService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService" name="ANALYSEChuckService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSECameraService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.Service.Interface.Camera.ICameraServiceEx" name="ANALYSECameraService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEPMUserService" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEPMUserService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSECalibrationService" contract="UnitySC.PM.ANA.Service.Interface.Calibration.ICalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSECalibrationService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEChamberService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEChamberService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEFDCService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEAlgoService" contract="UnitySC.PM.ANA.Service.Interface.Algo.IAlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEAlgoService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSERecipeService" contract="UnitySC.PM.ANA.Service.Interface.Recipe.IANARecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSERecipeService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSECompatibilityService" contract="UnitySC.PM.ANA.Service.Interface.Compatibility.ICompatibilityService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSECompatibilityService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEMeasureService" contract="UnitySC.PM.ANA.Service.Interface.Measure.IMeasureService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEMeasureService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEContextService" contract="UnitySC.PM.ANA.Service.Interface.Context.IContextService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEContextService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEControllerService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Controller.IControllerService" name="ANALYSEControllerService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEUTOPMService" contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" name="ANALYSEUTOPMService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEClientFDCsService" contract="UnitySC.Shared.FDC.Interface.IClientFDCsService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ANALYSEClientFDCsService" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEPlcService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" name="ANALYSEPlcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/ANALYSEFfuService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Ffu.IFfuService" name="ANALYSEFfuService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2230/HARDWAREReferentialService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Referential.IReferentialService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="HARDWAREReferentialService" />
      <endpoint address="net.tcp://localhost:2230/HARDWARELaserService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Laser.ILaserService" name="HARDWARELaserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWAREShutterService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Shutter.IShutterService" name="HARDWAREShutterService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWAREMotionAxesService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IMotionAxesService" name="HARDWAREMotionAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWARESpectroService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Spectrometer.ISpectroService" name="HARDWARESpectroService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2230/HARDWARELightService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Light.ILightService" name="HARDWARELightService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />      

      <!--Dataflow-->
      <endpoint address="net.tcp://localhost:2222/PMDFService" contract="UnitySC.Shared.Dataflow.PM.Service.Interface.IPMDFService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="PMDFService" />
      <endpoint address="net.tcp://localhost:2222/DataflowManagerFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataflowManagerFDCService" />

      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
      <endpoint address="net.tcp://localhost:2221/RegisterResultService" contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RegisterResultService" />
      <endpoint address="net.tcp://localhost:2221/DBMaintenanceService" contract="UnitySC.DataAccess.Service.Interface.IDBMaintenanceService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DBMaintenanceService" />
      <endpoint address="net.tcp://localhost:2221/DataAccessFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataAccessFDCService" />

      <!-- External processing  -->
      <endpoint address="net.tcp://localhost:2250/MountainsActiveXService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.EP.Mountains.Server.Implementation.IMountainsActiveXService" name="MountainsActiveXService" />
      <endpoint address="net.tcp://localhost:2230/MountainsGatewayService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.ANA.EP.Mountains.Interface.IMountainsGatewayService" name="MountainsGatewayService" />
    </client>
    <services>
      <service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEGlobalStatusService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ProbeService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEProbeService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.ANA.Service.Interface.IProbeService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ProbeAlignmentService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEAlignmentService"
                  binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
                  contract="UnitySC.PM.ANA.Service.Interface.Alignment.IProbeAlignmentService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.AxesService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEAxesService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IAxesService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ChuckService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEChuckService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chuck.IChuckService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.CalibrationService">
        <endpoint address="net.tcp://localhost:2230/ANALYSECalibrationService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Calibration.ICalibrationService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.AlgoService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEAlgoService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Algo.IAlgoService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ANARecipeService">
        <endpoint address="net.tcp://localhost:2230/ANALYSERecipeService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Recipe.IANARecipeService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ChamberService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEChamberService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Chamber.IChamberService" />
      </service>
      <service name="UnitySC.Shared.FDC.Service.FDCService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEFDCService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Shared.FDC.Interface.IFDCService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.CameraServiceEx">
        <endpoint address="net.tcp://localhost:2230/ANALYSECameraService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Camera.ICameraServiceEx" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.LightService">
        <endpoint address="net.tcp://localhost:2230/HARDWARELightService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Light.ILightService" />
      </service>
      <service name="UnitySC.PM.Shared.UserManager.Service.Implementation.PMUserService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEPMUserService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.CompatibilityService">
        <endpoint address="net.tcp://localhost:2230/ANALYSECompatibilityService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Compatibility.ICompatibilityService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ClientFDCsService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEClientFDCsService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Shared.FDC.Interface.IClientFDCsService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ReferentialService">
        <endpoint address="net.tcp://localhost:2230/HARDWAREReferentialService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Referential.IReferentialService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.MeasureService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEMeasureService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Measure.IMeasureService" />
      </service>
      <service name="UnitySC.PM.ANA.Service.Implementation.ContextService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEContextService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.Service.Interface.Context.IContextService" />
      </service>
      <service name="UnitySC.PM.ANA.EP.Mountains.Server.Implementation.MountainsGatewayService">
        <endpoint address="net.tcp://localhost:2230/MountainsGatewayService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.ANA.EP.Mountains.Interface.IMountainsGatewayService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ControllerService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEControllerService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Controller.IControllerService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.LaserService">
        <endpoint address="net.tcp://localhost:2230/HARDWARELaserService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Laser.ILaserService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ShutterService">
        <endpoint address="net.tcp://localhost:2230/HARDWAREShutterService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Shutter.IShutterService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.MotionAxesService">
        <endpoint address="net.tcp://localhost:2230/HARDWAREMotionAxesService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Axes.IMotionAxesService" />
      </service>
      <service name="UnitySC.Shared.TC.PM.Service.Implementation.UTOPMService">
        <endpoint address="net.tcp://localhost:2230/UTOPMService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.SpectroService">
        <endpoint address="net.tcp://localhost:2230/HARDWARESpectroService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Spectrometer.ISpectroService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.PlcService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEPlcService"                   
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" 
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" />
      </service>      
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.FfuService">
        <endpoint address="net.tcp://localhost:2230/ANALYSEFfuService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Ffu.IFfuService"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>