<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <client>
      <!-- EMERA -->
      <endpoint address="net.tcp://localhost:2260/EMERAGlobalStatusService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" name="EMERAGlobalStatus" />
      <endpoint address="net.tcp://localhost:2260/EMERAPMUserService" binding="netTcpBinding" contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService"  bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAPMUserService" />
      <endpoint address="net.tcp://localhost:2260/EMERAChamberService" binding="netTcpBinding" contract="UnitySC.PM.EME.Service.Interface.Chamber.IEMEChamberService"  bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAChamberService" />
      <endpoint address="net.tcp://localhost:2260/EMERAChuckService" binding="netTcpBinding"
                contract="UnitySC.PM.EME.Service.Interface.Chuck.IEMEChuckService"
                bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAChuckService"/>
      <endpoint address="net.tcp://localhost:2260/EMERACameraService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Camera.ICameraServiceEx" name="EMERACameraService" />
      <endpoint address="net.tcp://localhost:2260/EMERACalibrationService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"                 contract="UnitySC.PM.EME.Service.Interface.Calibration.ICalibrationService" name="EMERACalibrationService"/>
      <endpoint address="net.tcp://localhost:2260/EMERAAlgoService" contract="UnitySC.PM.EME.Service.Interface.Algo.IAlgoService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="EMERAAlgoService" />
      <endpoint address="net.tcp://localhost:2260/HARDWAREReferentialService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Referential.IReferentialService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="HARDWAREReferentialService" />
      <endpoint address="net.tcp://localhost:2260/EMERALightService" contract="UnitySC.PM.EME.Service.Interface.Light.IEMELightService" name="EMERALightService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2260/EMERAMotionAxesService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Axes.IEmeraMotionAxesService" name="EMERAMotionAxesService" />     
      <endpoint address="net.tcp://localhost:2260/EMERAFilterWheelService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"                contract="UnitySC.PM.EME.Service.Interface.FilterWheel.IFilterWheelService" name="EMERAFilterWheelService" />
      <endpoint address="net.tcp://localhost:2260/EMERecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Recipe.IEMERecipeService" name="EMERecipeService" />
      <endpoint address="net.tcp://localhost:2260/EMERAPlcService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService" name="EMERAPlcService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"/>
      <endpoint address="net.tcp://localhost:2260/EMERADistanceSensorService" contract="UnitySC.PM.Shared.Hardware.Service.Interface.DistanceSensor.IDistanceSensorService" name="EMERADistanceSensorService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" />
      <endpoint address="net.tcp://localhost:2260/EMERAChillerService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" contract="UnitySC.PM.EME.Service.Interface.Chiller.IChillerService" name="EMERAChillerService" />
      

      <!--Dataflow-->
      <endpoint address="net.tcp://localhost:2222/PMDFService" contract="UnitySC.Shared.Dataflow.PM.Service.Interface.IPMDFService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="PMDFService" />
      <endpoint address="net.tcp://localhost:2222/DataflowManagerFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataflowManagerFDCService" />

      <!-- DataAccess -->
      <endpoint address="net.tcp://localhost:2221/RecipeService" contract="UnitySC.DataAccess.Service.Interface.IDbRecipeService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RecipeService" />
      <endpoint address="net.tcp://localhost:2221/ResultService" contract="UnitySC.DataAccess.Service.Interface.IResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ResultService" />
      <endpoint address="net.tcp://localhost:2221/ToolService" contract="UnitySC.DataAccess.Service.Interface.IToolService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="ToolService" />
      <endpoint address="net.tcp://localhost:2221/UserService" contract="UnitySC.DataAccess.Service.Interface.IUserService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="UserService" />
      <endpoint address="net.tcp://localhost:2221/LogService" contract="UnitySC.DataAccess.Service.Interface.ILogService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="LogService" />
      <endpoint address="net.tcp://localhost:2221/RegisterResultService" contract="UnitySC.DataAccess.Service.Interface.IRegisterResultService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="RegisterResultService" />
      <endpoint address="net.tcp://localhost:2221/DBMaintenanceService" contract="UnitySC.DataAccess.Service.Interface.IDBMaintenanceService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DBMaintenanceService" />
      <endpoint address="net.tcp://localhost:2221/DataAccessFDCService" contract="UnitySC.Shared.FDC.Interface.IFDCService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration" name="DataAccessFDCService" />
    </client>
    
    <services>
      <service name="UnitySC.PM.Shared.Status.Service.Implementation.GlobalStatusService">
        <endpoint address="net.tcp://localhost:2260/EMERAGlobalStatusService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Status.Service.Interface.IGlobalStatusService" />
      </service>
      <service name="UnitySC.PM.Shared.UserManager.Service.Implementation.PMUserService">
        <endpoint address="net.tcp://localhost:2260/EMERAPMUserService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.UserManager.Service.Interface.IPMUserService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.CameraServiceEx">
        <endpoint address="net.tcp://localhost:2260/EMERACameraService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Camera.ICameraServiceEx" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.CalibrationService">
        <endpoint address="net.tcp://localhost:2260/EMERACalibrationService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Calibration.ICalibrationService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.EMEChamberService">
        <endpoint address="net.tcp://localhost:2260/EMERAChamberService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Chamber.IEMEChamberService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.EmeraMotionAxesService">
        <endpoint address="net.tcp://localhost:2260/EMERAMotionAxesService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Axes.IEmeraMotionAxesService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.FilterWheelService">
        <endpoint address="net.tcp://localhost:2260/EMERAFilterWheelService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.FilterWheel.IFilterWheelService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.AlgoService">
        <endpoint address="net.tcp://localhost:2260/EMERAAlgoService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Algo.IAlgoService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.EMELightService">
        <endpoint address="net.tcp://localhost:2260/EMERALightService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Light.IEMELightService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.ReferentialService">
        <endpoint address="net.tcp://localhost:2260/HARDWAREReferentialService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Referential.IReferentialService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.EMERecipeService">
        <endpoint address="net.tcp://localhost:2260/EMERecipeService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Recipe.IEMERecipeService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.EMEChuckService">
        <endpoint address="net.tcp://localhost:2260/EMERAChuckService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Chuck.IEMEChuckService" />
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.PlcService">
        <endpoint address="net.tcp://localhost:2260/EMERAPlcService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.Plc.IPlcService"/>
      </service>
      <service name="UnitySC.PM.Shared.Hardware.Service.Implementation.DistanceSensorService">
        <endpoint address="net.tcp://localhost:2260/EMERADistanceSensorService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.Shared.Hardware.Service.Interface.DistanceSensor.IDistanceSensorService" />
      </service>
      <service name="UnitySC.PM.EME.Service.Implementation.ChillerService">
        <endpoint address="net.tcp://localhost:2260/EMERAChillerService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.PM.EME.Service.Interface.Chiller.IChillerService" />
      </service>
      <service name="UnitySC.Shared.TC.PM.Service.Implementation.UTOPMService">
        <endpoint address="net.tcp://localhost:2230/UTOPMService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfiguration"
          contract="UnitySC.Shared.TC.PM.Service.Interface.IUTOPMService" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpConfiguration" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="infinite" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>